<div class="article article_extrasmall">
	<div class="article__img image-wrap_two">
	</div>

	<div class="article__description">
		<h6 class="article__title">
			<span>Суперпродукты, которые помогают очиститькоторые помогают очиститькоторые помогают очиститькоторые помогают очистить печень</span>
			<div class="counter-indicate">
				<i class="icon-Good"></i>
				<span>24</span>
			</div>
			<div class="counter-indicate">
				<i class="icon-Comment"></i>
				<span>345</span>
			</div>
		</h6>

	</div>
</div>