<div class="article article_medium">
	<div class="article__img image-wrap_two">
		<div class="article__controls">
			<button class="article__button button button_transparent ">
				Читать
			</button>
			<button class="article__button button button_green button_onlyicon">
				<i class="icon-Bookmark"></i>
			</button>
			<button class="article__button button button_transparent button_onlyicon">
				<i class="icon-Mail"></i>
			</button>
		</div>
	</div>

	<div class="article__description">
		<h2 class="article__title">Суперпродукты, которые помогают очистить печень</h2>
		<div class="article__info">
			<div class="category-indicate">
				<i class="icon-Poultry"></i>
				<span>Птицеводство</span>
			</div>
			<div class="counter-wrapper">
				<div class="counter-indicate">
					<i class="icon-Good"></i>
					<span>24</span>
				</div>
				<div class="counter-indicate">
					<i class="icon-Comment"></i>
					<span>345</span>
				</div>
			</div>
		</div>
	</div>
</div>