<div class="article">
	<div class="article__img image-wrap_three">
		<div class="article__controls">
			<button class="article__button button button_transparent button_withicon">
				<i class="icon-Mail"></i>
				Переслать
			</button>
			<button class="article__button button button_green">Купить</button>
			<button class="article__button button button_gray button_withicon">
				<i class="icon-Bookmark"></i>
				Коментировать
			</button>
		</div>
	</div>

	<div class="article__description">
		<h2 class="article__title">Суперпродукты, которые помогают очистить печень</h2>
		<div class="article__info">
			<div class="category-indicate">
				<i class="icon-Poultry"></i>
				<span>Птицеводство</span>
			</div>
			<div class="counter-wrapper">
				<div class="counter-indicate">
					<i class="icon-Good"></i>
					<span>24</span>
				</div>
				<div class="counter-indicate">
					<i class="icon-Comment"></i>
					<span>345</span>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="g-divider g-divider_margin"></div>
<div class="content-with-sidebar">
	<ul class="articles-list">
		<li class="articles-list__item">
    		//= article-small.html
		</li>
		<li class="articles-list__item">
			//= article-small.html
		</li>
		<li class="articles-list__item">
			//= article-small.html
		</li>
		<li class="articles-list__item">
			//= article-small.html
		</li>
	</ul>
	<div class="section-sidebar">
		<h5 class="sidebar-title">
			<i class="sidebar-title__icon icon-Like"></i>
			<span class="sidebar-title__text">Наиболее популярные</span>
		</h5>
		<ul class="sidebar-list">
			<li class="sidebar-list__item">
	    		//= article-extrasmall.html
			</li>
			<li class="sidebar-list__item">
	    		//= article-extrasmall.html
			</li>
			<li class="sidebar-list__item">
	    		//= article-extrasmall.html
			</li>
			<li class="sidebar-list__item">
				//= article-extrasmall.html
			</li>
			<li class="sidebar-list__item">
				//= article-extrasmall.html
			</li>
			<li class="sidebar-list__item">
				//= article-extrasmall.html
			</li>
			<li class="sidebar-list__item">
				//= article-extrasmall.html
			</li>
			<li class="sidebar-list__item">
				//= article-extrasmall.html
			</li>
		</ul>
	</div>
</div>

<div class="g-divider g-divider_margin"></div>

<div class="content-with-sidebar">
	<ul class="articles-list">
		<li class="articles-list__item articles-list__item_fullwidth">
    		//= article-medium.html
		</li>
	</ul>
	<div class="section-sidebar section-sidebar_contentbox">
		<div class="sidebar-slider">
			<h5 class="sidebar-title">
				<i class="sidebar-title__icon icon-Question"></i>
				<span class="sidebar-title__text">Вопросы</span>
			</h5>
			<div class="sidebar-slider__box">
				<div class="sidebar-slider__arrow sidebar-slider__arrow_left icon-Back_light"></div>
				<div class="sidebar-slider__text">
					В каких районах можно чаще всего встретить Аргентинского муравья?
				</div>
				<div class="sidebar-slider__arrow sidebar-slider__arrow_right icon-Forward_light"></div>
			</div>
			<button class="button button_gray sidebar-slider__button">Задать вопрос</button>
		</div>
	</div>
</div>

<div class="g-divider  g-divider_margin"></div>

<div class="section-resent">
	<h3 class="section-title">
		<i class="section-title__icon icon-Time"></i>
		<span class="section-title__text">Вы просматривали</span>
	</h3>
	<ul class="recent-list">
		<li class="recent-list__item">
			<ul class="category-list">
				<li class="category-indicate category-list__item">
					<i class="icon-Poultry"></i>
					<span>Категория</span>
				</li>
				<li class="category-indicate category-list__item">
					<i class="icon-Poultry"></i>
					<span>Категория</span>
				</li>
				<li class="category-indicate category-list__item">
					<i class="icon-Poultry"></i>
					<span>Категория</span>
				</li>
				<li class="category-indicate category-list__item">
					<i class="icon-Poultry"></i>
					<span>Категория</span>
				</li>
				<li class="category-indicate category-list__item">
					<i class="icon-Poultry"></i>
					<span>Категория</span>
				</li>
			</ul>
		</li>
		<li class="recent-list__item">
			<ul class="product-list">
				<li class="product-list__item">
					<div class="image-wrap_two product-list__img"></div>
					<div class="product-list__text">Product1</div>
				</li>
				<li class="product-list__item">
					<div class="image-wrap_two product-list__img"></div>
					<div class="product-list__text">Product1</div>
				</li>
				<li class="product-list__item">
					<div class="image-wrap_two product-list__img"></div>
					<div class="product-list__text">Product1</div>
				</li>
			</ul>
		</li>
		<li class="recent-list__item">
			<ul class="product-list">
				<li class="product-list__item">
					<div class="image-wrap_two product-list__img"></div>
					<div class="product-list__text">Product1</div>
				</li>
				<li class="product-list__item">
					<div class="image-wrap_two product-list__img"></div>
					<div class="product-list__text">Product1</div>
				</li>
				<li class="product-list__item">
					<div class="image-wrap_two product-list__img"></div>
					<div class="product-list__text">Product1</div>
				</li>
			</ul>
		</li>
		<li class="recent-list__item">
			<ul class="product-list">
				<li class="product-list__item">
					<div class="image-wrap_two product-list__img"></div>
					<div class="product-list__text">Product1</div>
				</li>
				<li class="product-list__item">
					<div class="image-wrap_two product-list__img"></div>
					<div class="product-list__text">Product1</div>
				</li>
				<li class="product-list__item">
					<div class="image-wrap_two product-list__img"></div>
					<div class="product-list__text">Product1</div>
				</li>
			</ul>
		</li>
	</ul>
</div>
<div class="g-divider g-divider_margin"></div>

<div class="section-resent section-equal-part">
	<h3 class="section-title">
		<i class="section-title__icon icon-Doc_light"></i>
		<span class="section-title__text">Прочитаные статьи</span>
	</h3>
	<ul class="recent-list">
		<li class="recent-list__item">
			<div class="article article_small article_withoutcontrols">
				<div class="article__img image-wrap_two">
					<div class="article__controls">
						<button class="article__button button button_transparent ">
							Читать
						</button>
						<button class="article__button button button_green button_onlyicon">
							<i class="icon-Bookmark"></i>
						</button>
						<button class="article__button button button_transparent button_onlyicon">
							<i class="icon-Mail"></i>
						</button>
					</div>
				</div>

				<div class="article__description">
					<div class="category-indicate">
						<i class="icon-Poultry"></i>
						<span>Птицеводство</span>
					</div>
					<h2 class="article__title">Суперпродукты, которые помогают очистить печень</h2>
					<div class="counter-wrapper">
						<div class="counter-indicate">
							<i class="icon-Good"></i>
							<span>24</span>
						</div>
						<div class="counter-indicate">
							<i class="icon-Comment"></i>
							<span>345</span>
						</div>
					</div>
				</div>
			</div>
		</li>
		<li class="recent-list__item">
	    		<div class="article article_small article_withoutcontrols">
				<div class="article__img image-wrap_two">
					<div class="article__controls">
						<button class="article__button button button_transparent ">
							Читать
						</button>
						<button class="article__button button button_green button_onlyicon">
							<i class="icon-Bookmark"></i>
						</button>
						<button class="article__button button button_transparent button_onlyicon">
							<i class="icon-Mail"></i>
						</button>
					</div>
				</div>

				<div class="article__description">
					<div class="category-indicate">
						<i class="icon-Poultry"></i>
						<span>Птицеводство</span>
					</div>
					<h2 class="article__title">Суперпродукты, которые помогают очистить печень</h2>
					<div class="counter-wrapper">
						<div class="counter-indicate">
							<i class="icon-Good"></i>
							<span>24</span>
						</div>
						<div class="counter-indicate">
							<i class="icon-Comment"></i>
							<span>345</span>
						</div>
					</div>
				</div>
			</div>

		</li>
		<li class="recent-list__item">
	    		<div class="article article_small article_withoutcontrols">
				<div class="article__img image-wrap_two">
					<div class="article__controls">
						<button class="article__button button button_transparent ">
							Читать
						</button>
						<button class="article__button button button_green button_onlyicon">
							<i class="icon-Bookmark"></i>
						</button>
						<button class="article__button button button_transparent button_onlyicon">
							<i class="icon-Mail"></i>
						</button>
					</div>
				</div>

				<div class="article__description">
					<div class="category-indicate">
						<i class="icon-Poultry"></i>
						<span>Птицеводство</span>
					</div>
					<h2 class="article__title">Суперпродукты, которые помогают очистить печень</h2>
					<div class="counter-wrapper">
						<div class="counter-indicate">
							<i class="icon-Good"></i>
							<span>24</span>
						</div>
						<div class="counter-indicate">
							<i class="icon-Comment"></i>
							<span>345</span>
						</div>
					</div>
				</div>
			</div>

		</li>
		<li class="recent-list__item">
	    		<div class="article article_small article_withoutcontrols">
				<div class="article__img image-wrap_two">
					<div class="article__controls">
						<button class="article__button button button_transparent ">
							Читать
						</button>
						<button class="article__button button button_green button_onlyicon">
							<i class="icon-Bookmark"></i>
						</button>
						<button class="article__button button button_transparent button_onlyicon">
							<i class="icon-Mail"></i>
						</button>
					</div>
				</div>

				<div class="article__description">
					<div class="category-indicate">
						<i class="icon-Poultry"></i>
						<span>Птицеводство</span>
					</div>
					<h2 class="article__title">Суперпродукты, которые помогают очистить печень</h2>
					<div class="counter-wrapper">
						<div class="counter-indicate">
							<i class="icon-Good"></i>
							<span>24</span>
						</div>
						<div class="counter-indicate">
							<i class="icon-Comment"></i>
							<span>345</span>
						</div>
					</div>
				</div>
			</div>

		</li>
	</ul>
	<div class="g-divider"></div>
	<ul class="recent-list">
		<li class="recent-list__item">
	    		<div class="article article_small article_withoutcontrols">
				<div class="article__img image-wrap_two">
					<div class="article__controls">
						<button class="article__button button button_transparent ">
							Читать
						</button>
						<button class="article__button button button_green button_onlyicon">
							<i class="icon-Bookmark"></i>
						</button>
						<button class="article__button button button_transparent button_onlyicon">
							<i class="icon-Mail"></i>
						</button>
					</div>
				</div>

				<div class="article__description">
					<div class="category-indicate">
						<i class="icon-Poultry"></i>
						<span>Птицеводство</span>
					</div>
					<h2 class="article__title">Суперпродукты, которые помогают очистить печень</h2>
					<div class="counter-wrapper">
						<div class="counter-indicate">
							<i class="icon-Good"></i>
							<span>24</span>
						</div>
						<div class="counter-indicate">
							<i class="icon-Comment"></i>
							<span>345</span>
						</div>
					</div>
				</div>
			</div>

		</li>
		<li class="recent-list__item">
	    		<div class="article article_small article_withoutcontrols">
				<div class="article__img image-wrap_two">
					<div class="article__controls">
						<button class="article__button button button_transparent ">
							Читать
						</button>
						<button class="article__button button button_green button_onlyicon">
							<i class="icon-Bookmark"></i>
						</button>
						<button class="article__button button button_transparent button_onlyicon">
							<i class="icon-Mail"></i>
						</button>
					</div>
				</div>

				<div class="article__description">
					<div class="category-indicate">
						<i class="icon-Poultry"></i>
						<span>Птицеводство</span>
					</div>
					<h2 class="article__title">Суперпродукты, которые помогают очистить печень</h2>
					<div class="counter-wrapper">
						<div class="counter-indicate">
							<i class="icon-Good"></i>
							<span>24</span>
						</div>
						<div class="counter-indicate">
							<i class="icon-Comment"></i>
							<span>345</span>
						</div>
					</div>
				</div>
			</div>

		</li>
		<li class="recent-list__item">
	    		<div class="article article_small article_withoutcontrols">
				<div class="article__img image-wrap_two">
					<div class="article__controls">
						<button class="article__button button button_transparent ">
							Читать
						</button>
						<button class="article__button button button_green button_onlyicon">
							<i class="icon-Bookmark"></i>
						</button>
						<button class="article__button button button_transparent button_onlyicon">
							<i class="icon-Mail"></i>
						</button>
					</div>
				</div>

				<div class="article__description">
					<div class="category-indicate">
						<i class="icon-Poultry"></i>
						<span>Птицеводство</span>
					</div>
					<h2 class="article__title">Суперпродукты, которые помогают очистить печень</h2>
					<div class="counter-wrapper">
						<div class="counter-indicate">
							<i class="icon-Good"></i>
							<span>24</span>
						</div>
						<div class="counter-indicate">
							<i class="icon-Comment"></i>
							<span>345</span>
						</div>
					</div>
				</div>
			</div>

		</li>
		<li class="recent-list__item">
			<div class="all-item-block">
				<div class="all-item-block__icons">
					<i class="icon-Doc_light"></i>
					<i class="all-item-block__link icon-Forward_light"></i>
				</div>
				<div class="all-item-block__text">Все прочитанные статьи</div>
			</div>
		</li>
	</ul>
</div>

