<header class="header">
	<a href="" class="mainlogo" tabindex="1">
		<img src="../img/logo.png" alt="">
	</a>
	<input class="mainsearch" 
		type="text" 
		placeholder="type here">
	<div class="userinfo">
		<div class="user">
			<div class="user_ava">
				<span>PI</span>
				<img src="" alt="">
			</div>
			<div class="user_name">Petro Ivanov</div>
		</div>
		<div class="header-controls">
			<i class="header-controls__item icon-Mail">
				<span class="header-controls__counter">2+</span>
			</i>
			<i class="header-controls__item icon-User"></i>
			<i class="header-controls__item icon-World"></i>
			<i class="header-controls__item icon-Settings_back"></i>
		</div>
	</div>
</header>