<nav class="main-menu">
	<a href="" class="main-menu__item">Вопросы</a>
	<a href="" class="main-menu__item active">Каталог</a>
	<a href="" class="main-menu__item">Эксперты</a>
	<a href="" class="main-menu__item">
		Статьи
		<ul class="dropdown">
			<li class="dropdown__item has-child">
				content
				<ul class="dropdown dropdown_sidedrop dropdown_sidedrop_left">
					<li class="dropdown__item">
						content1
					</li>
					<li class="dropdown__item">content1</li>
					<li class="dropdown__item">content1</li>
				</ul>	
			</li>
			<li class="dropdown__item selected">content</li>
			<li class="dropdown__item">content</li>
		</ul>
	</a>
	<a href="" class="main-menu__item">Форум</a>
	<a href="" class="main-menu__item">Календарь</a>
</nav>