$icomoon-font-path: "../fonts";

$icon-User: "\e900";
$icon-Key: "\e901";
$icon-User_card: "\e902";
$icon-Mail: "\e903";
$icon-Phone: "\e904";
$icon-World: "\e905";
$icon-Place: "\e906";
$icon-Reload: "\e907";
$icon-Sound: "\e908";
$icon-Question: "\e909";
$icon-Exit: "\e90a";
$icon-Leaf: "\e90b";
$icon-Search: "\e90c";
$icon-Down_b: "\e90d";
$icon-Save: "\e90e";
$icon-Print: "\e90f";
$icon-Share: "\e910";
$icon-Comment: "\e911";
$icon-Edit: "\e912";
$icon-Trash: "\e913";
$icon-Like: "\e914";
$icon-Feed: "\e915";
$icon-Home: "\e916";
$icon-Back_big: "\e917";
$icon-Forward_big: "\e918";
$icon-Photo_filled: "\e919";
$icon-Plus: "\e91a";
$icon-Matrix: "\e91b";
$icon-Fill-29: "\e91c";
$icon-Fill-30: "\e91d";
$icon-Basket: "\e91e";
$icon-Time: "\e91f";
$icon-Up_bold: "\e920";
$icon-Down_bold: "\e921";
$icon-Calendar: "\e922";
$icon-User_add: "\e923";
$icon-Card: "\e924";
$icon-People: "\e925";
$icon-Spade: "\e926";
$icon-Image: "\e927";
$icon-Call-out: "\e928";
$icon-Grass: "\e929";
$icon-Link: "\e92a";
$icon-Star: "\e92b";
$icon-Star_half: "\e92c";
$icon-Ok: "\e92d";
$icon-Tag: "\e92e";
$icon-Upload: "\e92f";
$icon-Notification: "\e930";
$icon-View: "\e931";
$icon-Enter: "\e932";
$icon-X: "\e933";
$icon-Forward_light: "\e934";
$icon-Back_light: "\e935";
$icon-More: "\e936";
$icon-Good: "\e937";
$icon-Bad: "\e938";
$icon-Bookmark: "\e939";
$icon-Cube: "\e93a";
$icon-Ticket: "\e93b";
$icon-Star_back: "\e93c";
$icon-Draw: "\e93d";
$icon-Stat: "\e93e";
$icon-Up_down: "\e93f";
$icon-Drop_down: "\e940";
$icon-Drop_up: "\e941";
$icon-Ok_back: "\e942";
$icon-Restricted: "\e943";
$icon-Fill-71: "\e944";
$icon-Alarm: "\e945";
$icon-Info: "\e946";
$icon-Stat_detail: "\e947";
$icon-Drag: "\e948";
$icon-Drop: "\e949";
$icon-Error: "\e94a";
$icon-Bug: "\e94b";
$icon-Up_arrow: "\e94c";
$icon-Down_arrow: "\e94d";
$icon-Full_screen: "\e94e";
$icon-Shrink: "\e94f";
$icon-Play_back: "\e950";
$icon-Play_light: "\e951";
$icon-Plus_big: "\e952";
$icon-Data: "\e953";
$icon-Code: "\e954";
$icon-People_1: "\e955";
$icon-User_ok: "\e956";
$icon-Message: "\e957";
$icon-Feed_ok: "\e958";
$icon-Notification_back: "\e959";
$icon-Doc: "\e95a";
$icon-Doc_light: "\e95b";
$icon-Play_file: "\e95c";
$icon-Play_collection: "\e95d";
$icon-Img_file: "\e95e";
$icon-Img_collection: "\e95f";
$icon-List: "\e960";
$icon-Menu: "\e961";
$icon-Settings: "\e962";
$icon-Fill-102: "\e963";
$icon-Munu_bullet: "\e964";
$icon-Tag_light: "\e965";
$icon-Fill-105: "\e966";
$icon-Male: "\e967";
$icon-Fimale: "\e968";
$icon-Ok_light: "\e969";
$icon-Fill-109: "\e96a";
$icon-King: "\e96b";
$icon-Settings_back: "\e96c";
$icon-Icon: "\e96d";
$icon-Icon_flower: "\e96e";
$icon-PH: "\e96f";
$icon-Drop_percent: "\e970";
$icon-Flower: "\e971";
$icon-Touch: "\e972";
$icon-Cut: "\e973";
$icon-Tree: "\e974";
$icon-Drop_light: "\e975";
$icon-Drop_filled: "\e976";
$icon-Flower_leaf: "\e977";
$icon-Part_25: "\e978";
$icon-Part_75: "\e979";
$icon-Part_100: "\e97a";
$icon-Part_0: "\e97b";
$icon-Part_50: "\e97d";
$icon-Circle_dot: "\e97e";
$icon-Circle_dots: "\e97f";
$icon-24_hours: "\e980";
$icon-Poison: "\e981";
$icon-Tree_star: "\e982";
$icon-Mushroom: "\e983";
$icon-Tree_stand: "\e984";
$icon-Bush: "\e985";
$icon-Herbs: "\e986";
$icon-Fruits: "\e987";
$icon-Vegetables: "\e988";
$icon-Berries: "\e989";
$icon-Outdoor_flowers: "\e98a";
$icon-Officinal: "\e98b";
$icon-Pot_flowers: "\e98c";
$icon-og_11: "\e98d";
$icon-Pets: "\e98e";
$icon-Goat: "\e98f";
$icon-Horse: "\e990";
$icon-Sheep: "\e991";
$icon-Poultry: "\e992";
$icon-Fur: "\e993";
$icon-Fish: "\e994";
$icon-Pig: "\e995";
$icon-Clumbering: "\e996";
$icon-Ornamental_trees: "\e997";
$icon-Ornamental_bushes: "\e998";
$icon-Pond_plants: "\e999";
$icon-Pests: "\e99a";
$icon-Pollinators: "\e99b";
$icon-Useful_insects: "\e99c";
$icon-Exotic_plants: "\e99d";
$icon-Cereals: "\e99e";
$icon-Legumes: "\e99f";
$icon-Cattle: "\e9a0";

