/*colors*/
$color-text: #000;
$color-divider: #eeeeee;
$color-icons: #bfbfbf;
$color-namesvalues: #9e9e9e;
$color-greenelem: #55a32a;
$white: #fff;

$color-border-def: #666;
$color-border-keys: #456cbe;
$color-border-error: #ed2024;
$color-border-dropdown: #ddd;
$color-drop-hover: #f4f4f4;
$color-bg-err: #fefdb7;
